
  <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Accueil </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/livres">Livres
              <span class="visually-hidden">(current)</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/reserver-livre">Réservation</a>
          </li>
          <li class="nav-item" *ngIf="authService.currentAuthUserValue.isLogged()" >



        </li>
        <li class="nav-item"  *ngIf="authService.currentAuthUserValue.isLogged()">
          <a class="nav-link"  routerLink="/compte">Compte</a>
        </li>
        <li class="nav-item"   *ngIf="!authService.currentAuthUserValue.isLogged()"  >
            <a class="nav-link" routerLink="/login">Login</a>
        </li>
        </ul>
        <form class="d-flex" (ngSubmit)="onSubmit(form.value)" #form="ngForm">
          <input class="form-control me-sm-2" type="search" placeholder="Titre" name="search" ngModel>
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
