<div class="bd">
<div class="princip">
  <h2>Inscription</h2>
<form (ngSubmit)="onSubmit()">
  <div class="identité">
    <div class="info">
      <label for="nom">Nom :</label>
      <input type="text" id="nom" formControlName="nom" required>
    </div>

    <div class="info">
      <label for="prenom">Prénom :</label>
      <input type="text" id="prenom" formControlName="prenom" required>
    </div>



  <div class="info">
      <label for="mail">E-mail :</label>
      <input type="email" id="mail" formControlName="mail" required>
    </div>



  <div class="info">
      <label for="dateNaissance">Date de naissance :</label>
      <input type="date" id="dateNaissance" formControlName="dateNaissance" required>
    </div>

    <div class="info">
      <label for="motDePasse">Mot de passe :</label>
      <input type="password" id="motDePasse" formControlName="motDePasse" required>
  </div>
  <div class="info">
    <label for="motDePasse">Confirmer mot de passe :</label>
    <input type="password" id="motDePasse" formControlName="motDePasse" required>
</div>

    <div class="info">
      <label for="adresse">Adresse postale :</label>
      <input type="adresse" formControlName="adresse" required>
    </div>

    <div class="info">
      <label for="numeroTelephone">Numéro de téléphone :</label>
      <input type="tel" id="numeroTelephone" formControlName="numeroTelephone" required>
    </div>

</div>
<div class="sub"><button type="submit">Créer</button></div>
  </form>

  <div class="log">
    <h4>Dejà un compte ?</h4>
    <button type="button" (click)="redirectToConnexion()">Se connecter</button>
  </div>
</div>
</div>
