.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45vw;
}


form {
  flex: 1;
  text-align: center;
  background-color: black;

  border-radius: 12px;
  margin-top: 10vh;

}

form legend {
  padding-top: 15px;
  color: wheat;
}

form div {
  padding: 25px;
}