<nav>
    <div class="navbar-container">
      <div class="logo">Ma Bibliothèque</div>
      <ul class="nav-links">
        <li><a routerLink="/">Accueil</a></li>
        <li (mouseover)="showDropdown = true" (mouseleave)="showDropdown = false">
          <a routerLink="/voir-livre">Voir Livre</a>
          <ul *ngIf="showDropdown">
            <li *ngFor="let livre of livres">{{ livre.titre }}</li>
          </ul>
        </li>
        <li><a routerLink="/gerer-compte">Gérer son Compte</a></li>
        <li><a routerLink="/reserver-livre">Réserver Livre</a></li>
      </ul>
      <div class="search-bar">
        <input type="text" placeholder="Recherche Livre" />
        <button><img src="./loupes.png" alt="Loupe" /></button>
      </div>
    </div>
  </nav>