/* login-form.component.css */
.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55vh; 
    border: 1cap;
    width: 30%;
    margin: 0 auto;
    margin-top: 5%;
    background-color: #34495e;
    border-radius: 10%;
  }
  
  h2 {
    margin-top: 10%; /* Espacement en bas du titre */
    color: white;
  }
  
  form {
    width: 45%;
    margin: auto; 
    text-align: left; 
    padding: 10px; 
    text-align: center; 
    background-color: white;
    height: 50%;
    border-radius: 10%;
    margin-top :10%;
    
  }

  form div {
    margin-bottom: 10%; 
    text-align: center;
  }

  input {
    width: 100%; 
    margin-top : 15%;
    line-height: 30px;
    border: none;
    background-color: #34495e;
    color: white;
    border-radius: 3%;
    text-align: center;
  }

  input::placeholder {
    text-align: center; 
    line-height: 30px; 
    color: white;
  }

  button {
    width: 100%;
    border: none;
    margin-top: 5%;
  }

   button:hover {
    color: #3498db; /* Couleur du texte au survol (exemple bleu clair) */
  }
  