* {
    padding: 0;
    margin: 0;
}

.princip {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.details {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 15%;
}

.photo {
    width: 40%;
    display: flex;
    background-color: #343a40;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 55vh;
    border-radius: 10px;
    gap: 40px;
    overflow: hidden; /* Empêche le contenu de déborder à l'intérieur de la div */
    color: white;
    padding: 10px;
    
}

.description {
    width: 35%;
    padding: 10px;
    border: 5px solid #343a40;
    overflow: hidden;
    border-radius: 10px;
}

.description p {
    color: #343a40;
    padding: 10px;
}

.image-size {
    width: 500px; 
    max-width: 100%;
    border: 5px solid white;
}

h2{
    margin-top: 2%;
}