
<h2 style="text-align: center;">Titre livre</h2>
<div class="princip">
    <div class="details">
        <div class="photo">
            <div class="info">
                <img class="image-size" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6fdf4CLjlvihE7K9Da-D0EHRXimf0Ioz86g" >
            </div>
            <div class="info">
                <p>Date du livre : 01/02/2003 </p>
                <p>Auteur : Zumba</p>
                <p>Catégorie : Zipette</p>
                <p>livre-details works!</p>
                <p>id : {{id}}</p>
            </div>
        </div>

        <div class="description">
            <h4 style="text-align: center;">Description</h4>
            <p>Le beluga, ou baleine blanche, est une espèce de cétacé à dents évoluant dans les régions arctiques et subarctiques.<br> 
                Scientifiquement désigné sous le nom de Delphinapterus leucas, cet animal marin se distingue par sa robe blanche caractéristique, qui contraste avec les eaux froides de son habitat.<br>
                Doté d'un front bombé et d'un cou flexible, le beluga est réputé pour sa sociabilité et sa communication vocale complexe, émettant une variété de sifflements,<br>
                clics et sérénades sous-marines.<br> Cette espèce joue un rôle crucial dans l'écosystème arctique et continue d'attirer 
                l'attention en raison de sa singularité et de sa vulnérabilité face aux changements environnementaux.</p>
        </div>
    </div>
</div>


