<h2 style="text-align: center;">Liste des Livres</h2>
<div class="row container-fluid">
  <div class="col-sm-3" *ngFor="let livre of livres">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" style="height: 100px; object-fit: none;" src={{livre.photoCouverture}}>
      <div class="card-body">
        <div class="flex">
        <h5 class="card-title">{{ livre.titre }}</h5>
        <p class="card-text">{{ livre.dateSortie }}</p>
        <a href="details/{{livre.id}}" class="btn btn-primary">Détails</a>
      </div>
      </div>
    </div>
  </div>
</div>

